<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceBusEndpoint" value="Endpoint=sb://cqrsapplication.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=+IMFwFR4MHMbgKqcENhCZ2oAIH8nPfCLdOCTNjxpCfo="/>
    <add key="Queue" value="cqrsqueue"/>
  </appSettings>
</configuration>